/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: 'Bebas Neue', cursive;
}

/* .nav-info{
  width: 50%;
 
} */

/* NavBar Component */
.nav-info:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* Home aka ContactList page */
.contact-list-wrapper {
  background-color: whitesmoke;
}

.avatar-images {
  width: 135px !important;

  border-radius: 100px !important;
}

/* Add contact component */
.cancel-new-contact-icon:hover {
  color: red !important;
}

.add-title {
  letter-spacing: 4.8px !important;
}

/* Removes arrow on number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* View contact page */

.view-contact-avatar {
  height: 300px;
  border-radius: 50px;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Edit contact page */

.edit-contact-wrapper {
  margin-top: 10px !important;
  position: absolute;
  left: 33%;
}

.edit-contact-photo {
  height: 300px;
  margin-left: 50px;
  border-radius: 50px;
  /* position: relative; */
}

/* Delete Modal */

.delete-modal {
  position: absolute;
  top: 500px !important;
  border: none !important;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.modal-content {
  border: none !important;
}

@media (max-width: 576px) {
  /* Home page */

  .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #card-icons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  .card-icon {
    margin-top: 13px;
    margin-left: 8px;
    margin-right: 8px;
  }

  /* Add contact page */
  #add-contact-row {
    padding: 0 !important;
    width: 75% !important;
  }

  /* View contact */

  .view-contact-avatar {
    height: 100px;
    margin-bottom: 20px;
  }

  .list-group-item {
    font-size: 18px;
  }

  #view-contact-back-button {
    font-size: 15px !important;
  }

  .view-list {
    width: 200px;
    background: none !important;
    border: none !important;
  }

  .view-list-item {
    background: none !important;
    border: none !important;
  }

  /* Edit contact */

  .edit-contact-photo {
    display: none;
  }
}

@media (max-width: 768px) {
  .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #card-icons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  .card-icon {
    margin-top: 13px;
    margin-left: 8px;
    margin-right: 8px;
  }

  /* Edit contact */
  .edit-contact-photo {
    display: none;
  }
}

@media (max-width: 992px) {
  /* Edit contact */
  .edit-contact-photo {
    display: none;
  }
}
