/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: 'Bebas Neue', cursive;
}

body {
  box-sizing: border-box;
  width: 100%;
}

/* NavBar Component */
.nav-info:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  z-index: 999;
}

/* Home aka ContactList page */
.contact-list-wrapper {
  background-color: whitesmoke;
}

.avatar-images {
  width: 135px !important;
  border-radius: 20px !important;
}

/* Add contact component */
.cancel-new-contact-icon:hover {
  color: red !important;
}

.add-title {
  letter-spacing: 4.8px !important;
}

/* Removes arrow on number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* View contact page */

.avatar-wrapper {
  object-fit: contain;
}

.view-contact-avatar {
  width: 300px;
  object-fit: contain;
  border-radius: 50px;
  margin-bottom: 20px;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Edit contact page */

.edit-contact-wrapper {
  z-index: -9;
}

#edit-contact {
  width: 50% !important;
}

/* Delete Modal */

.delete-modal {
  position: absolute;
  top: 500px !important;
  border: none !important;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.modal-content {
  border: none !important;
}

/* RESPONSIVE */

@media screen and (max-width: 1025px) {
 
  #edit-contact {
    width: 80% !important;
  }
}

@media (max-width: 768px) {
  .contact-list-section {
    width: 100%;
  }

  .search-col {
    width: 100% !important;
  }

  #search-input {
    width: 79% !important;
  }

  .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #card-icons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  .card-icon {
    margin-top: 13px;
    margin-left: 8px;
    margin-right: 8px;
  }

  /* Edit contact */

  #edit-contact {
    width: 90% !important;
    /* top: 60% !important; */
  }

  .edit-contact-photo {
    display: none;
  }

  /* View contact */

  #view-contact {
    width: 95% !important;
    margin-top: 80px;
    padding: 10px;
  }

  .view-contact-avatar {
    width: 200px;
  }

  /* Add contact */
  #add-contact-row {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .contact-list-wrapper {
    display: flex;
    top: 950px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-list-section {
    position: absolute;
    width: 100% !important;
    background-color: whitesmoke !important;
  }

  .card {
    width: 100% !important;
  }

  .card-body {
    width: 100% !important;
  }

  .edit-contact-wrapper {
    /* top: 10% !important; */
  }
}

@media screen and (max-width: 350px) {
  .edit-contact-wrapper {
    top: 25% !important;
  }
}
